<!-- The reason to use the partials is that it allows you to break your ejs into several smaller files, which is important and it allows you to import your files multiple times so that you don’t have to duplicate your code all over the place. -->

<header>
    <nav class="header-nav">
        <a class="header-title" href="/">MyLibrary</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/books/new">Add Book</a></li>
        </ul>
    </nav>
</header>

<!-- So, we no longer need to memorise the links, but instead we can click on different links  -->
