<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BackendSetup</title>
    </head>

    <body>
        <%- include('../partials/header.ejs') %>
            <%- include('../partials/errorMessage.ejs') %>
                <%- body %>
                    <!-- Here we want to put everything inside the body of every single page of our application -->
                    <!-- It will include the before and after in every single page and those files need to only write the body  part of the repository  -->
    </body>

</html>
