<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
        <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
            rel="stylesheet" />

        <script defer
            src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
        <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
        <script defer
            src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
        <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
        <script defer src="/javascripts/fileUpload.js"></script>
        <!-- Adding defer tag in the link of the HTML will allow that link to be executed when the entire body of the page is loaded. -->

        <link rel="stylesheet" href="/stylesheets/main.css">
        <title>BackendSetup</title>
    </head>

    <body>
        <div class="container">
            <%- include('../partials/header.ejs') %>
                <div class="inner-container">
                    <%- include('../partials/errorMessage.ejs') %>
                        <%- body %>
                            <!-- Here we want to put everything inside the body of every single page of our application -->
                            <!-- It will include the before and after in every single page and those files need to only write the body  part of the repository  -->
                </div>
        </div>
    </body>

</html>
