<h2 class="page-header">Edit author</h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
    <!-- Now using method-Override we will use the PUT method instead of the POST. -->

    <%- include('_form_fields') %>
        <a href="/authors/<%= author.id %>">Cancel</a>
        <button type="submit">Update</button>
</form>
