<h2 class="page-header">New author</h2>
<form action="/authors" method="POST">
    <!-- action will be the url where the POST request will be sent to. You can send a POST request using only form. -->

    <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
            <a class="btn btn-danger" href="/authors">Cancel</a>
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
</form>
