<h2 class="page-header">New author</h2>
<form action="/authors" method="POST">
    <!-- action will be the url where the POST request will be sent to. You can send a POST request using only form. -->

    <%- include('_form_fields') %>
        <a href="/authors">Cancel</a>
        <button type="submit">Create</button>
</form>
